@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Lexend+Deca:wght@100..900&display=swap");
:root {
  /* Primary colors */
  --Gold-500: hsl(31, 77%, 52%);
  --Cyan-800: hsl(184, 100%, 22%);
  --Green-950: hsl(179, 100%, 13%);

  /* Neutral colors*/
  /*(paragraphs) */
  /* (background, headings, buttons) */
  --Transparent-white: hsla(0, 0%, 100%, 0.75);
  --Gray-100: hsl(0, 0%, 95%);

  --LD: "Lexend Deca";
  --BS: "Big Shoulders";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--Gray-100);
}
main {
  display: flex;
  width: 60rem;
  height: 30rem;
  border-radius: 0.5rem;
  margin: 0 0 2rem;
  overflow: hidden;
}
.card {
  background-color: var(--Cyan-800);
  color: var(--Transparent-white);
  padding: 2.5rem;
}
.card:first-child {
  background-color: var(--Gold-500);
}
.card:last-child {
  background-color: var(--Green-950);
}
.card img {
  width: 3rem;
}
.card h2 {
  font-family: var(--BS);
  font-size: 1.5rem;
  margin: 1.8rem 0;
  text-transform: uppercase;
  font-weight: 700;
}
.card p {
  font-family: var(--LD);
  font-size: 0.9rem;
  line-height: 1.8rem;
}
.card button {
  margin-top: 7rem;
  padding: 0.8rem 2rem;
  border: 2px solid var(--Transparent-white);
  border-radius: 2rem;
  font-family: var(--LD);
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
}
.card:first-child button {
  color: var(--Gold-500);
}
.card:nth-child(2) button {
  color: var(--Cyan-800);
}
.card:nth-child(3) button {
  color: var(--Green-950);
}
.card button:hover {
  background: transparent;
  color: var(--Transparent-white);
}
.attribution {
  font-size: 11px;
  text-align: center;
  font-family: var(--LD);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 30rem) {
  body {
    height: auto; 
    padding: 2rem;
  }
  main {
    flex-direction: column;
    width: 100%;
    height: auto;
    overflow: hidden;
    /* align-items: stretch; */
  }
  .card {
    padding: 1.8rem;
  }
  .card h2 {
    font-size: 2rem;
    margin: 1rem 0;
  }
  .card p {
    font-size: 0.95rem;
  }
  .card button {
    margin-top: 3rem;
    padding: 0.7rem 1.5rem;
    font-size: 0.85rem;
  }
}

